* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vw;*/
    /*width: 100vw;*/
}

.App {
    width: 800px;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}

.container {
    margin-left: 10px;
}

.task {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
}

.task__btns {
    display: flex;
}

* {
    user-select: none;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #ebf3f3;
}