

#header-container {
    display: block;
    position: absolute;
    width: 320px;
    height: 55px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -87px;
}

/* Select style here */

select {
    margin: 0 auto;
    color: #000000;
    width: 310px;
    padding: 15px;
    height: 25px;
    cursor: pointer;
}

select:hover {
    background-color: transparent;
    color: white;
    padding: 15px 5px 15px 25px;
}

select option {
    color: #0c63e4;
    background-color: white;
    color: gray;
    width: 310px;
    padding: 10px 15px;
    height: 20px;
    cursor: pointer;
}

select option:hover {
    padding-left: 25px;
    width: 270px;
    color: #EC6F66;
}